<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="changePhotoMapper">
	<resultMap type="ChangePhoto" id="changePhotoResultMap">
		<result property="myChangeNo" column="MYCHANGE_NO"></result>
		<result property="myChangeTitle" column="MYCHANGE_TITLE"></result>
		<result property="myChangeDate" column="MYCHANGE_DATE"></result>
		<result property="myChangeContents" column="MYCHANGE_CONTENTS"></result>
		<result property="publicCode" column="PUBLIC_CODE"></result>
		<result property="originalFileName" column="ORIGINAL_FILENAME"></result>
		<result property="renameFileName" column="RENAME_FILENAME"></result>
	</resultMap>
	
	<select id="selectList" resultMap="changePhotoResultMap">
		SELECT * FROM MYCHANGE WHERE USERID=#{userId}
		ORDER BY MYCHANGE_DATE DESC
	</select>
	<select id="selectOne" resultMap="changePhotoResultMap">
		SELECT * FROM MYCHANGE
		WHERE MYCHANGE_NO = #{myChangeNo}
	</select>
	<select id="selectOneByPhoto" resultMap="changePhotoResultMap">
		SELECT * FROM MYCHANGE
		WHERE MYCHANGE_CONTENTS=#{myChangeContents} AND RENAME_FILENAME=#{renameFileName} 
	</select>
	<select id="selectOneByDate" resultMap="changePhotoResultMap">
		SELECT *FROM MYCHANGE
		WHERE MYCHANGE_DATE =#{myChangeDate} AND USERID=#{userId}
	</select>
	
	<insert id="insertChangePhoto">
		INSERT INTO MYCHANGE
		VALUES (SEQ_MYCHANGE.NEXTVAL, #{myChangeTitle}, #{myChangeContents}, #{myChangeDate}, #{userId}, #{publicCode}, #{originalFileName}, #{renameFileName})
	</insert>
		<!--  (MYCHANGE_NO, MYCHANGE_CONTENTS, MYCHANGE_DATE, USERID, ORIGINAL_FILENAME, RENAME_FILENAME) -->
	
	<update id="updateChangePhoto">
		UPDATE MYCHANGE
		SET ORIGINAL_FILENAME=#{originalFileName}, RENAME_FILENAME=#{renameFileName}, MYCHANGE_CONTENTS=#{myChangeContents}
		WHERE MYCHANGE_NO=#{myChangeNo}
	</update>
		
	<delete id="deleteChangePhoto">
		DELETE FROM MYCHANGE
		WHERE MYCHANGE_NO=#{myChangeNo}
	</delete>
	
	<update id="changePublicCode">
		UPDATE MYCHANGE
		SET PUBLIC_CODE=#{publicCode}
		WHERE MYCHANGE_NO=#{myChangeNo}
	</update>
	
	<update id="emptyFile">
		UPDATE MYCHANGE
		SET ORIGINAL_FILENAME=null, RENAME_FILENAME=null
		WHERE MYCHANGE_NO=#{myChangeNo}
	</update>


</mapper>
