<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

<resultMap type="Member" id="memberResultMap">
  <result property="userName" column="USER_NAME"/>
  <result property="memStatus" column=" MEM_STATUS "/>
  <result property="userField" column="USER_FIELD"/>
</resultMap>

<!-- 로그인 -->
<select id="memberLogin" resultMap="memberResultMap">
SELECT * FROM MEMBER
WHERE USERID = #{userId}
AND PASSWORD = #{passWord}
AND MEM_STATUS = 'N'


</select>

<!-- 회원가입 -->
 <insert id="insertMember" parameterType="Member">
INSERT INTO MEMBER
VALUES (#{userId}, #{passWord}, #{userName}, #{gender}, #{email}, #{phone}, 'N')
</insert>

<!-- 회원정보수정 -->
<update id="updateMember">
 UPDATE MEMBER
 SET GENDER = #{gender}, EMAIL = #{email}, PHONE = #{phone}
 WHERE USERID = #{userId}
</update>


<!-- 회원가입 중 아이디 중복검사 -->

<!-- <select id="idCheck" resultType="int">
  SELECT COUNT(*) FROM MEMBER
  WHERE USERID = # {userId}
</select> -->
 

</mapper>
