<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<!-- <typeAlias type="com.kh.ddoda.require.domain.Require" alias="Require"/>
		<typeAlias type="com.kh.ddoda.require.domain.Reply" alias="Reply"/>
	
		<typeAlias type="com.kh.ddoda.mate.domain.Mate" alias="Mate"/>
		<typeAlias type="com.kh.ddoda.mate.domain.MateComment" alias="MateCom"/>
		<typeAlias type="com.kh.ddoda.mate.domain.Mymate" alias="Mymate"/>
		<typeAlias type="com.kh.ddoda.opendiary.domain.Opendiary" alias="Opendiary"/>
		<typeAlias type="com.kh.ddoda.opendiary.domain.DiaryImg" alias="DiaryImg"/>
		<typeAlias type="com.kh.ddoda.opendiary.domain.OpendiaryComment" alias="OpendiaryComment"/> -->
		
		<typeAlias type="com.kh.ddoda.member.domain.Member" alias="member"/>	
	
	
		<typeAlias type="com.kh.ddoda.calendar.domain.Calendar" alias="Calendar"/>
		<typeAlias type="com.kh.ddoda.calendar.domain.Calorie" alias="Calorie"/>
		<typeAlias type="com.kh.ddoda.calendar.domain.FoodCheckList" alias="FoodCheckList"/>
		<typeAlias type="com.kh.ddoda.calendar.domain.FoodSelectedList" alias="FoodSelectedList"/>
		<typeAlias type="com.kh.ddoda.calendar.domain.MemberInfo" alias="MemberInfo"/>
		<typeAlias type="com.kh.ddoda.calendar.domain.MyCalorie" alias="MyCalorie"/>
		<typeAlias type="com.kh.ddoda.calendar.domain.MyDiet" alias="MyDiet"/>
		<typeAlias type="com.kh.ddoda.calendar.domain.SumCalorie" alias="SumCalorie"/>
		<typeAlias type="com.kh.ddoda.calendar.domain.DailyCalendar" alias="DailyCalendar"/>
		
		
		<typeAlias type="com.kh.ddoda.diary.domain.Diary" alias="Diary"/>
		<typeAlias type="com.kh.ddoda.diary.domain.Reply" alias="Reply"/>
		<typeAlias type="com.kh.ddoda.changePhoto.domain.ChangePhoto" alias="ChangePhoto"/>
		
		
	</typeAliases>
	
		<mappers>
		<!-- 	<mapper resource="mappers/mate-mapper.xml"/>
			<mapper resource="mappers/opendiary-mapper.xml"/>
			<mapper resource="mappers/require-mapper.xml" /> -->
			<mapper resource="mappers/member-mapper.xml" />
		
			<mapper resource="mappers/calendar-mapper.xml"></mapper>
			<mapper resource="mappers/diary-mapper.xml"></mapper>
			<mapper resource="mappers/changephoto-mapper.xml"></mapper>
			
		</mappers>
</configuration>
